  body {
    background: #212534;
    color: aliceblue;
  }
  
  .card{
    background-color: aliceblue;
    border-radius: 7px;
    color: black;
    box-shadow: 0 2px 5px white;
    padding: 10px;
    width: 240px;
    height: 250px;
    margin: 16px;
    float: left;
  }


  .container{
    display: flexbox;
  }